html, body {
  margin: 0;
  padding: 1rem; }

html {
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 1rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

img {
  max-width: 100%;
  display: block; }

a {
  color: #0077b6;
  text-decoration: none; }
  a:hover {
    color: rgba(0, 119, 182, 0.7);
    text-decoration: underline; }

small {
  font-size: 1rem;
  line-height: 1.2rem; }

pre {
  background: #9c9c9c; }

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:-moz-focusring {
  outline: 0; }
