.uabi-consent-container {
  position: fixed;
  background: transparent;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  line-height: 1.5;
  bottom: 0;
  left: 0;
  max-width: 31.25rem;
  max-height: 98%;
  overflow-y: auto;
  display: none;
  z-index: 99999; }
  .uabi-consent-container.active {
    display: block; }
  .uabi-consent-container h1 {
    color: #444;
    font-size: 1rem; }
  .uabi-consent-container a {
    color: #0099cc;
    text-decoration: none; }
    .uabi-consent-container a:hover {
      color: #1967d2;
      text-decoration: underline; }
    .uabi-consent-container a:focus {
      text-decoration: underline overline; }
  .uabi-consent-container p {
    color: #444; }
  .uabi-consent-container .uabi-consent-settings,
  .uabi-consent-container .uabi-consent-dialog {
    background: white;
    border: 0.0625rem solid #ccc;
    margin: 0 1.25rem 1.25rem 1.25rem;
    padding: .625rem 1.25rem; }
  .uabi-consent-container .uabi-consent-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none; }
    .uabi-consent-container .uabi-consent-dialog.active {
      display: block; }
    .uabi-consent-container .uabi-consent-dialog .uabi-consent-buttons,
    .uabi-consent-container .uabi-consent-dialog .uabi-consent-message {
      flex: 1 1 auto; }
    .uabi-consent-container .uabi-consent-dialog .uabi-learn-more {
      text-align: center; }
  .uabi-consent-container .uabi-consent-buttons {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .3125rem; }
    .uabi-consent-container .uabi-consent-buttons .uabi-consent-btn {
      flex: 1 1 12.5rem;
      background: #1967d2;
      border: 0.0625rem solid #ccc;
      color: white;
      font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 0.875rem;
      line-height: 1.5;
      text-align: center;
      outline: 0;
      padding: 0.625rem;
      cursor: pointer;
      transition: all .3s ease; }
      .uabi-consent-container .uabi-consent-buttons .uabi-consent-btn:hover {
        background: #1a53a1;
        color: white; }
      .uabi-consent-container .uabi-consent-buttons .uabi-consent-btn:focus {
        text-decoration: underline overline; }
  .uabi-consent-container .uabi-consent-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: .625rem .75rem;
    font-size: 1.25rem;
    font-weight: bolder;
    color: #444; }
    .uabi-consent-container .uabi-consent-close-btn:hover {
      background: rgba(225, 28, 34, 0.1);
      color: #444;
      text-decoration: none; }
    .uabi-consent-container .uabi-consent-close-btn:focus {
      text-decoration: underline overline; }
  .uabi-consent-container .uabi-consent-settings {
    position: relative;
    display: none; }
    .uabi-consent-container .uabi-consent-settings.active {
      display: block; }
    .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item {
      color: #444; }
      .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header {
        display: flex;
        justify-content: space-between;
        gap: .3125rem;
        border: .0625rem solid #ccc;
        padding: .3125rem; }
        .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-settings-text {
          flex: 3 1 18.75rem;
          cursor: pointer;
          line-height: 1.5;
          font-weight: bold; }
        .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-on-off {
          flex: 1 2 6.25rem;
          text-align: right; }
          .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-on-off label {
            position: relative;
            display: inline-block;
            width: 2.75rem;
            height: 1.5rem; }
            .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-on-off label input {
              opacity: 0;
              width: 0;
              height: 0; }
              .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-on-off label input:checked + span {
                background-color: #1cac78; }
                .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-on-off label input:checked + span:before {
                  -webkit-transform: translateX(1.125rem);
                  -ms-transform: translateX(1.125rem);
                  transform: translateX(1.125rem); }
              .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-on-off label input:disabled + span {
                background-color: rgba(28, 172, 120, 0.5); }
              .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-on-off label input:focus + span {
                box-shadow: 0 0 .0625rem #2196F3; }
            .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-on-off label span {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
              border-radius: 1.5rem; }
              .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-item-header .uabi-consent-on-off label span:before {
                position: absolute;
                content: "";
                height: 1rem;
                width: 1rem;
                left: .25rem;
                bottom: .25rem;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%; }
      .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-body {
        max-height: 0;
        overflow: hidden;
        margin-bottom: .3125rem;
        transition: max-height .1s ease; }
        .uabi-consent-container .uabi-consent-settings .uabi-consent-accordion .uabi-consent-accordion-item .uabi-consent-accordion-body.active {
          max-height: 62.5rem;
          border: .0625rem solid #ccc;
          border-top: 0;
          padding: .625rem; }

@media screen and (max-width: 500px) {
  .uabi-consent-container .uabi-consent-dialog {
    padding: .3125rem;
    margin: 0 .625rem .625rem .625rem; } }
