// ############################################
// #  Lei Geral de Proteção de Dados (LGPD)   #
// ############################################

// ################
// #  Variables   #
// ################

// Font
$font-stack: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size: .875rem;

// Diaog
$container-bg: transparent;
$dialog-bg: white;
$dialog-border: .0625rem solid #ccc;
$dialog-title-color: #444;
$dialog-title-font-size: 1rem;
$dialog-link-color: #0099cc;
$dialog-link-hover-color: #1967d2;
$message-color: #444;

// Buttons
$btn-font-size: $font-size;
$btn-padding: .625rem;
$btn-bg: #1967d2;
$btn-border: .0625rem solid #ccc;
$btn-color: white;
$btn-hover-bg: #1a53a1;
$btn-hover-color: white;

// ################
// #  Container   #
// ################
.uabi-consent-container {
	position: fixed;
	background: $container-bg;
	font-family: $font-stack;
	font-size: $font-size;
	line-height: 1.5;
	bottom: 0;
	left: 0;
	max-width: 31.25rem;
	max-height: 98%;
	overflow-y: auto;
	display: none;
	z-index: 99999;
	&.active {
		display: block;
	}
	h1 {
		color: $dialog-title-color;
		font-size: $dialog-title-font-size;
	}
	a {
		color: $dialog-link-color;
		text-decoration: none;
		&:hover {
			color: $dialog-link-hover-color;
			text-decoration: underline;
		}
		&:focus {
			text-decoration: underline overline;
		}
	}
	p {
		color: $message-color;
	}

	// ########################
	// #  Dialog / Settings   #
	// ########################
	.uabi-consent-settings,
	.uabi-consent-dialog {
		background: $dialog-bg;
		border: $dialog-border;
		margin: 0 1.25rem 1.25rem 1.25rem;
		padding: .625rem 1.25rem;
	}

	// #############
	// #  Dialog   #
	// #############
	.uabi-consent-dialog {
		display: flex;
		flex-direction: column;
		align-items: center;
		display: none;
		&.active {
			display: block;
		}
		.uabi-consent-buttons,
		.uabi-consent-message {
			flex: 1 1 auto;
		}
		.uabi-learn-more {
			text-align: center;
		}
	}

	// ##############
	// #  Buttons   #
	// ##############
	.uabi-consent-buttons {
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: .3125rem;
		.uabi-consent-btn {
			flex: 1 1 12.5rem;
			background: $btn-bg;
			border: $btn-border;
			color: $btn-color;
			font-family: $font-stack;
			font-size: $btn-font-size;
			line-height: 1.5;
			text-align: center;
			outline: 0;
			padding: $btn-padding;
			cursor: pointer;
			transition: all .3s ease;
			&:hover {
				background: $btn-hover-bg;
				color: $btn-hover-color;
			}
			&:focus {
				text-decoration: underline overline;
			}
		}
	}

	// close button
	.uabi-consent-close-btn {
		position: absolute;
		right: 0;
		top: 0;
		padding: .625rem .75rem;
		font-size: 1.25rem;
		font-weight: bolder;
		color: $message-color;
		&:hover {
			background: rgba(#e11c22, .1);
			color: $message-color;
			text-decoration: none;
		}
		&:focus {
			text-decoration: underline overline;
		}
	}
	// ###############
	// #  Settings   #
	// ###############
	.uabi-consent-settings {
		position: relative;
		display: none;
		&.active {
			display: block;
		}
		// Accordion
		.uabi-consent-accordion {
			.uabi-consent-accordion-item {
				color: $message-color;
				.uabi-consent-accordion-item-header {
					display: flex;
					justify-content: space-between;
					gap: .3125rem;
					border: .0625rem solid #ccc;
					padding: .3125rem;
					.uabi-consent-settings-text {
						flex: 3 1 18.75rem;
						cursor: pointer;
						line-height: 1.5;
						font-weight: bold;
					}
					// On/Off Switch
					.uabi-consent-on-off {
						flex: 1 2 6.25rem;
						text-align: right;
						label {
							position: relative;
							display: inline-block;
							width: 2.75rem;
							height: 1.5rem;
							input {
								opacity: 0;
								width: 0;
								height: 0;
								&:checked {
									& + span {
										background-color: #1cac78;
										&:before {
											-webkit-transform: translateX(1.125rem);
											-ms-transform: translateX(1.125rem);
											transform: translateX(1.125rem);
										}
									}
								}
								&:disabled {
									& + span {
										background-color: rgba(#1cac78, .5);
									}
								}
								&:focus + span {
								  	box-shadow: 0 0 .0625rem #2196F3;
								}
							}
							span {
								position: absolute;
								cursor: pointer;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background-color: #ccc;
								-webkit-transition: .4s;
								transition: .4s;
								border-radius: 1.5rem;
								&:before {
									position: absolute;
									content: "";
									height: 1rem;
									width: 1rem;
									left: .25rem;
									bottom: .25rem;
									background-color: white;
									-webkit-transition: .4s;
									transition: .4s;
								  	border-radius: 50%;
								}
							}
						}
					}
				}
				.uabi-consent-accordion-body {
					max-height: 0;
					overflow: hidden;
					margin-bottom: .3125rem;
					transition: max-height .1s ease;
					&.active {
						max-height: 62.5rem;
						border: .0625rem solid #ccc;
						border-top: 0;
						padding: .625rem;
					}
				}
			}
		}
	}
}

// ###############
// #   < 500px   #
// ###############
@media screen and (max-width: 500px) {
	// ################
	// #  Container   #
	// ################
	.uabi-consent-container {
		.uabi-consent-dialog {
			padding: .3125rem;
			margin: 0 .625rem .625rem .625rem;
		}
	}
}
